<div class="jobpage col-md-offset-4 col-md-4">
    <h1><%= @job.title %></h1>
    <p>
      @<%= @job.user.username %>
    </p>

  <p>
    <%= @job.description %>
  </p>
  <% if current_user == @job.user %>
    <%= link_to 'Edit', edit_job_path(@job) %>
  <% else %>
  <% end %>
</div>
