/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "arts";
@import "disciplines";
@import "posts";
@import "jobs";
@import "static";
@import "lightbox";


body,
html {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  //  padding-top: 100px;
  .yielddiv {
    top: 0;
  }
}

footer {
  padding: 30px 0;
}
/*
  * Custom styles
  */
nav {
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  span {
    display: none;
  }
  img {
    max-height: 70px;
    top: -25px;
    // vertical-align: middle;
    position: relative;
  }
}

.navbar-container {
  padding: 20px 0;
}

.navbar.navbar-fixed-top {
  background-color: rgba(0,0,0,0.3);
  a {
    color: white;
  }
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
  img {
    display: none;
  }
  span {
    display: inline-block;
  }
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand,
.navbar-brand.fixed-theme,
.navbar-container,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}
.signinup {
  margin-left: 30vw;
}

a {
  color: #999;
}
a:hover {
  text-decoration: none;
  color: #000;
}

// sign in sign up modal
div#signInModal {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 35%;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .9);
    margin-left: 32.5%;
    margin-top: 20vh;
    // overflow-y: scroll;
    border: 1px solid black;
}
