/*@import url(https://fonts.googleapis.com/css?family=Lobster);*/

// home page not signed in
body,
html {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  /*font-family: lobster, arial, sans-serif*/
}

.hero {
  position: relative;
  text-align: center;
}

.hero-content {
  display: block;
  position: relative;
  z-index: 999;
  margin-top: 30vh;
}

.parallax {
  display: block;
  text-align: center;
  padding: 10em 1em;
  color: white;
  overflow: hidden;
}

.parallax h1 {
  font-size: 4em;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 15px;
  font-family: 'Josefin Slab', serif;
}

.parallax p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.firstpic {
  background: url('https://s3.us-east-2.amazonaws.com/art.work/home1.jpg') no-repeat center center;
  height: 90vh;
}

.secondpic {
  background: url('https://s3.us-east-2.amazonaws.com/art.work/home2.jpg') no-repeat center center;
  height: 80vh;
}

.thirdpic {
  background: url('https://s3.us-east-2.amazonaws.com/art.work/home3.jpg') no-repeat center center;
  height: 90vh;
}

.fourthpic {
  background: url('https://s3.us-east-2.amazonaws.com/art.work/home4.jpg') no-repeat center center;
  height: 98vh;
}

.fourththing {
  margin: 20vh;
}

.spacer {
  display: block;
  color: #333;
  font-family: arial, sans-serif;
  padding: 3em 0;
}

.spacer h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  margin-bottom: 15px;
}

.spacer p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

button {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  border-radius: 4px;
  background: none;
  font-size: 1.25em;
  color: #555;
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
}

button:hover {
  background: #00ace9;
  color: white;
  border-color: #00ace9;
  cursor: pointer;
}

button.danger {
  margin: 2vh 1vw;
  background: #d30;
  color: white;
  border-color: #d30;
  width: 10vw;
}

button.danger:hover {
  background: #a00;
  border-color: #a00;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 95%;
}

.centered {
  text-align: center;
  padding-bottom: 3.75em;
}

.cleft-wrapper {
  position: relative;
  top: -1.25rem;
  margin-bottom: -1.25rem;
  left: 0;
  width: 100%;
  height: 1.25rem;
  overflow: hidden;
}

.cleft-left,
.cleft-right {
  width: 50%;
  height: 1.25rem;
  background-color: #fff;
  position: absolute;
  top: 0;
}

.cleft-left {
  left: -1.5rem;
}

.cleft-right {
  right: -1.5rem;
}

.cleft-left:before,
.cleft-right:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.cleft-left:before {
  right: -1.5rem;
  border-width: 1.25rem 0 0 1.5rem;
  border-color: transparent transparent transparent #fff;
}

.cleft-right:before {
  left: -1.5rem;
  border-width: 1.25rem 1.5rem 0 0;
  border-color: transparent #fff transparent transparent;
}

.carrotBox {
  position: relative;
}

.carrot {
  display: block;
  height: 0;
  width: 0;
  border-top: 1.25rem solid #fff;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -1.5rem;
  bottom: -1.25rem;
}

// signed in home page
.loggedhome {
  margin-top: 15vh;
  text-align: center;
  .feed {
    .feedpost {
      margin: 0.5vh;
      background-color: rgba(0,0,0,0.1);
      padding: 1vh;
      height: 30vh;
      /*position: relative;*/
      .userpic {
        height: 100%;
        .propic {
          height: 7vh;
          width: 7vh;
          border-radius: 7vh;
          background-size: cover;
          background-position: center center;
          bottom: 0;
          left: 0;
          position: absolute;
          z-index: 1000;
        }
      }
      .userpost {
        background-image: url('https://s3.us-east-2.amazonaws.com/art.work/speechbub.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        text-align: center;
        img {
          max-width: 40%;
          max-height: 40%;
          top: 3vh;
          position: relative;
          /*padding: 1vh;*/
        }
        p {
          margin-bottom: 0;
        }
        .caption {
          font-size: 2vh;
          display: block;
          position: inherit;
          top: 5vh;
          width: 50%;
          height: 30%;
          max-width: 50%;
          max-height: 30%;
          margin: auto;
          overflow-y: scroll;
        }
        .posttime {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .jobboard {
    .joblisting {
      margin: 0.5vh;
      background-color: rgba(0,0,0,0.1);
      padding: 1vh;
      padding-top: 1vh;
      .posttime {
        text-align: left;
      }
    }
  }
}


/// profile page
.profilepage {
  margin-top: 15vh;
  .userprofilediv {
    height: 20vh;
    border: 1px solid black;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    .profilepicture {
      height: 15vh;
      width: 15vh;
      border-radius: 15vh;
      background-size: cover;
      background-position: center center;
      margin-top: 2.5vh;
    }
    .userinfo {
      background-color: rgba(255,255,255,0.3);
      height: 100%;
      overflow-y: scroll;
      .biotext {
        height: 10vh;
        overflow-y: scroll;
      }
      .bioshow, .biohide {
        color: #999;
        bottom: 0;
        left: 42.5%;
        margin: auto;
        position: absolute;
      }
      .bioshow:hover, .biohide:hover {
        color: #000;
        cursor: pointer;
      }
      .username {
        font-size: 5vh;
        .dlist {
          overflow-x: scroll;
          overflow-y: hidden;
          height: 2vh;
          white-space: nowrap;
          .disclist {
            font-size:1vh;
          }
        }
        form {
          display: inline-block;
          .btn {
            width: 5vw;
          }
          .btn-primary:after {
            content: "Following"
          }
          .btn-primary:hover {
            background-color: crimson;
          }
          .btn-primary:hover:after {
            content: "Unfollow";
          }
          .btn-success:after {
            content: "Follow";
          }
        }
      }
    }
  }
  .profilebottomdiv {
    text-align: center;
    width: 64vw;
    margin: auto;
    .profilebtns {
      font-size: 30px;
      .postbtn, .jobbtn, .portfoliobtn {
        font-size: 30px;
        margin-bottom: 2vh;
      }
      .postbtn:hover, .jobbtn:hover, .portfoliobtn:hover {
        cursor: pointer;
        color: #999;
      }
    }
    .profilegallery {
      text-align: center;
      padding: .5vw;
      width: 64vw;
      font-size: 0;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      display: -webkit-box;
      display: flex;
      margin-top: 2vh;
      margin: auto;
      .nomessage {
        width: 100%;
        font-size: 15px;
      }
      .artimage {
        position: relative;
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        width: 20vw;
        margin: .5vw;
        height: 20vh;
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
          .text {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
      }
      .artadd {
        position: relative;
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        width: 20vw;
        margin: .5vw;
        height: 20vh;
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
      }
      .artadd:hover {
        background-size: 20%;
        background-color: #999;
      }
      .artimage:hover {
        background-size: 100%;
      }
      .artimage:hover .overlay {
        height: 20%;
      }
    }
    .profilepost {
      width: 64vw;
      margin: auto;
      padding: .5vw;
      .nomessage {
        width: 100%;
        font-size: 15px;
      }
      .profpost {
        width: 100%;
        background-color: rgba(0,0,0,0.1);
        padding: .5vh .5vw;
        margin: .5vh .5vw;
        img {
          max-width: 80%;
          height: auto;
        }
        p {
          font-size: 1.5vh;
          padding: 0.5vh;
          margin-bottom: 0;
        }
      }
    }
    .profilejob {
      width: 64vw;
      margin: auto;
      padding: .5vw;
      .nomessage {
        width: 100%;
        font-size: 15px;
      }
      .jobpost {
        background-color: rgba(0,0,0,0.1);
        padding: .5vh .5vw;
        margin: .5vh .5vw;
        h4 {
          font-size: 2vh;
        }
        p {
          font-size: 1.3vh;
          font-family: 'Raleway', sans-serif;
          margin-bottom: 0;
        }

      }
    }
  }
}

// signuppage
#signUpForm, #signInForm, #editpass {
  margin: 20vh auto;
  width: 20%;
  text-align: center;
  input {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  label {
    font-family: 'Josefin Slab', serif;
  }
  #user_remember_me {
    width: auto;
  }
  input[type="checkbox"] {
    width: auto;
  }
  .cancelacc {
    margin-top: 10vh;
  }
  .discfield {
    position: fixed;
    left: 15vw;
    top: 20vh;
    border: 1px solid black;
    padding: 5vh 5vw;
    width: 20vw;
    .disciplinestyles {
      font-family: 'Raleway', sans-serif;
    }
  }
  .picchange {
    position: fixed;
    right: 15vw;
    top: 20vh;
    border: 1px solid black;
    padding: 2vh 2vw;
    width: 20vw;
  }
  .biobox {
    resize: none;
    width: 80%;
    margin-top: 2vh;
  }
  .currentpass,.changepass {
    margin-top: 5vh;
  }
}


// following page
.followingpage {
  margin-top: 15vh;
  .followinglist {
    text-align: center;
    h1 {
      text-align: center;
    }
    .followingperson {
      display: inline-block;
      height: 35vh;
      width: 30%;
      background-color: rgba(0,0,0,0.1);
      margin: 1vh;
      overflow: hidden;
      text-align: center;
      .profpic {
        height: 25vh;
        width: 17vw;
        background-size: cover;
        background-position: center center;
        margin: 2vh auto;
        /*position: relative;*/
      }
      .username {
        font-family: 'Josefin Slab', serif;
        font-size: 3vh;
        vertical-align: bottom;
        display: inline-block;
      }
      form {
        display: inline-block;
        .btn {
          height: 4vh;
          width: 5vw;
          font-size: 1.5vh;
        }
        .btn-primary:after {
          content: "Following"
        }
        .btn-primary:hover {
          background-color: crimson;
        }
        .btn-primary:hover:after {
          content: "Unfollow";
        }
        .btn-success:after {
          content: "Follow";
        }
      }
    }
  }
}

// explore page

.explorepage {
  margin-top: 15vh;
  h1 {
    text-align: center;
  }
  .explorefeed {
    padding: 0px;
    margin: 0px;
    line-height: 0;
    font-size: 0;
    a {
      line-height: 0;
      .feedpost {
        padding: 0px;
        margin: 0px;
        width: 25vw;
        height: 25vh;
        display: inline-block;
        background-size: 130%;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        line-height: 0;
        transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: .5s ease;
          .text {
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            line-height: 20px;
          }
        }
      }
      .feedpost:hover {
        background-size: 100%;
      }
      .feedpost:hover .overlay {
        height: 20%;
      }
    }
  }
}
